<a href="https://colab.research.google.com/github/MariyaJosep/Python-And-SQL-Basics-to-Advanced/blob/main/Python_workouts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task-2:
Write a function elements_3_times to find how how many elements appeared 3 and more times

T Case-1:
elements_3_times(10, 2, 10, 10, 2, 3)
Output: 1


T Case-2:
elements_3_times(10, 20, 10, 10, 20, 3, 20)
Output: 2

T Case-3:
elements_3_times(10, 20, 3, 200)
Output: 0

In [ ]:
def elements_3_times(*args):
    no_3_elements = 0
    
    for x in set(args):
        i = 0
        for y in args:
            if x==y:
                i = i + 1
                
        if i>=3:
            no_3_elements = no_3_elements + 1
            
    print('No of ele more than or equal 3 times ', no_3_elements)

In [ ]:
elements_3_times(10, 2, 10, 10, 2, 3)

No of ele more than or equal 3 times  1

In [ ]:
elements_3_times(10, 20, 10, 10, 20, 3, 20)

No of ele more than or equal 3 times  2

In [ ]:
def elements_no_times(*args):
    unique_values = set(args)
    
    no_times = {} #empty dictionary
    
    for x in unique_values:
        x_no_times = args.count(x)
        
        no_times[x] = x_no_times
        
    return no_times

In [ ]:
elements_no_times(10, 2, 10, 10, 2, 3)

{3: 1, 10: 3, 2: 2}

In [ ]:
d1 = elements_no_times(10, 2, 10, 10, 2, 3, 4, 5, 6, 7, 8, 67)

In [ ]:
d1[10], d1[2]

(3, 2)

In [ ]:
d1[10],d1[2],d1[4]

(3, 2, 1)

In [ ]:
def elements_no_times(*args):    
    
    no_times = {} #empty dictionary
    
    for x in set(args):
        no_times[x] = args.count(x)
        
    return no_times

d2 = elements_no_times(10, 2, 10, 10, 2, 3, 4, 5, 6, 7, 8, 67,100,100,100,100)

In [ ]:
d2[100]

4

In [ ]:
#Emplyee Class

class Employee:
    eno=0
    ename=None
    salary=0
    
    def print_emp(s):
        print(s.eno)
        print(s.ename)
        print(s.salary)
        
    def set_emp(s, eno, ename, salary):
        s.eno = eno;
        s.ename = ename
        s.salary = salary
        
    def bonus(s, perc):
        b = s.salary*(perc/100)
        print('Bonus : ', b)

In [ ]:
#creating object
e1 = Employee()

e1.print_emp()

0
None
0

In [ ]:
e1.set_emp(100, 'kumar', 25000)
e1.print_emp()

100
kumar
25000

In [ ]:
e1.bonus(10), e1.bonus(18)

Bonus :  2500.0
Bonus :  4500.0

(None, None)

In [ ]:
e2 = Employee()
e2.set_emp(200, 'xyz', 23456)
e2.print_emp()
e2.bonus(15)

200
xyz
23456
Bonus :  3518.4

In [ ]:
e3 = Employee()

e3.set_emp(300, 'kumar', 25000)
e3.print_emp()

300
kumar
25000

In [ ]:
e4 = Employee()

eno = int(input('Enter Emp No : '))
ename = input('Enter Emp Name : ')
salary = int(input('Enter Emp Salary : '))

e4.set_emp(eno, ename, salary)
e4.print_emp()

Enter Emp No : 400
Enter Emp Name : xyz
Enter Emp Salary : 56000
400
xyz
56000

In [ ]:
emps = [e1, e2, e3, e4]

print(emps)

[<__main__.Employee object at 0x000001C3AF184430>, <__main__.Employee object at 0x000001C3AF184850>, <__main__.Employee object at 0x000001C3AEE3CE80>, <__main__.Employee object at 0x000001C3AEE38820>]

In [ ]:
for e in emps:
    e.bonus(10)

Bonus :  2500.0
Bonus :  2345.6
Bonus :  2500.0
Bonus :  5600.0

In [ ]:
e5 = Employee()
emps.append(e5)

for e in emps:
    e.bonus(10)

Bonus :  2500.0
Bonus :  2345.6
Bonus :  2500.0
Bonus :  5600.0
Bonus :  0.0
Bonus :  0.0
Bonus :  0.0

In [ ]:
type(emps)

list

In [ ]:
type(e1)

__main__.Employee