<a href="https://colab.research.google.com/github/MariyaJosep/Python-And-SQL-Basics-to-Advanced/blob/main/Python_Mysql_Connection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#installing mysql driver

!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.6)

In [ ]:
#import connect function from mysql module

import mysql.connector

In [ ]:
db = mysql.connector.connect(host='localhost',
                            user='root',
                            password='Staragile@123',
                            database='my_db')

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C5539CCC70>

In [ ]:
#get cursor

cursor = db.cursor()

In [ ]:
#select statement
sql_stmt = "select * from product"

In [ ]:
#executing select statement
cursor.execute(sql_stmt)

In [ ]:
#feteching all rows from cursor
rows = cursor.fetchall()

rows

[(100, 'iPad', Decimal('85000'), 'Apple'),
 (200, 'Samsung Galaxy', Decimal('45000'), 'SAMSUN'),
 (300, 'RealME h15', Decimal('15000'), 'RealMe'),
 (400, 'HP Laptop', Decimal('45000'), 'HP'),
 (500, 'iPhone', Decimal('55000'), 'Apple'),
 (600, 'iPhone', Decimal('95000'), 'Apple'),
 (700, 'Pen Tab', Decimal('1500'), 'HP'),
 (800, 'Keyboard', Decimal('500'), 'HP')]

In [ ]:
#print all records one by one
for row in rows:
    print(row)

(100, 'iPad', Decimal('85000'), 'Apple')
(200, 'Samsung Galaxy', Decimal('45000'), 'SAMSUN')
(300, 'RealME h15', Decimal('15000'), 'RealMe')
(400, 'HP Laptop', Decimal('45000'), 'HP')
(500, 'iPhone', Decimal('55000'), 'Apple')
(600, 'iPhone', Decimal('95000'), 'Apple')
(700, 'Pen Tab', Decimal('1500'), 'HP')
(800, 'Keyboard', Decimal('500'), 'HP')

In [ ]:
#inserting new product to the product table
sql_stmt = "insert into product values(900, 'Mouse', 400, 'HP')"
cursor.execute(sql_stmt)
db.commit() #this is only for insert/update/delete

In [ ]:
sql_stmt="select * from product"
cursor.execute(sql_stmt)
rows = cursor.fetchall()

rows

[(100, 'iPad', Decimal('85000'), 'Apple'),
 (200, 'Samsung Galaxy', Decimal('45000'), 'SAMSUN'),
 (300, 'RealME h15', Decimal('15000'), 'RealMe'),
 (400, 'HP Laptop', Decimal('45000'), 'HP'),
 (500, 'iPhone', Decimal('55000'), 'Apple'),
 (600, 'iPhone', Decimal('95000'), 'Apple'),
 (700, 'Pen Tab', Decimal('1500'), 'HP'),
 (800, 'Keyboard', Decimal('500'), 'HP'),
 (900, 'Mouse', Decimal('400'), 'HP')]

In [ ]:
#gives all column names
cursor.column_names

('pid', 'pname', 'price', 'vendor')

In [ ]:
#gives last statement executed

cursor.statement

'select * from product'

In [ ]:
#reset the cursor

cursor.reset()