<a href="https://colab.research.google.com/github/MariyaJosep/Python-And-SQL-Basics-to-Advanced/blob/main/Python_datatypes%2Cspliting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a, b = 5, 10

print(f'a addr : {id(a)} and b addr : {id(b)}')

a addr : 2313281694128 and b addr : 2313281694288

In [ ]:
a is b

False

In [ ]:
a is not b

True

In [ ]:
c = 5

print(f'c addr : {id(c)}')

c addr : 2313281694128

In [ ]:
a is c

True

In [ ]:
b is c

False

In [ ]:
c = 15

a is c

False

In [ ]:
print(f'c memory location : {id(c)}')

c memory location : 2313281694448

In [ ]:
l1 = [10, 20, 30, 50]

a = 100

a in l1

False

In [ ]:
c = 20

c in l1

True

In [ ]:
c not in l1

False

In [ ]:
is_male = True

is_male

True

In [ ]:
#complex type

c1 = 10+20j

print(c1)

(10+20j)

In [ ]:
print(c1.real)

10.0

In [ ]:
print(c1.imag)

20.0

In [ ]:
c1.real

10.0

In [ ]:
c1.imag

20.0

In [ ]:
c1.real
c1.imag

20.0

In [ ]:
c1.real, c1.imag

(10.0, 20.0)

In [ ]:
print(c1.real, c1.imag)

10.0 20.0

In [ ]:
type(c1)

complex

In [ ]:
#string type
#string is collection chars (list of chars)

city = 'Bangalore' #['B', 'a', 'n'......]
# city = "Bangalore"

print(city)

Bangalore

In [ ]:
#to find number of char in str

print(f'No of chars : {len(city)}')

No of chars : 9

In [ ]:
'a' in city

True

In [ ]:
'Z' in city

False

In [ ]:
#selecting element using index
city[0]

'B'

In [ ]:
city[5]

'l'

In [ ]:
city[20]

IndexError: string index out of range

In [ ]:
c1 = 10+20j

print(c1.real, c1.imag)

10.0 20.0

In [ ]:
c2 = 100+10j

c3 = c1 + c2

print(c3)

(110+30j)

In [ ]:
c4 = 10.45+56j

print(c4)

(10.45+56j)

In [ ]:
city. city[-1]

AttributeError: 'str' object has no attribute 'city'

In [ ]:
city, city[-1]

('Bangalore', 'e')

In [ ]:
city, city[-2]

('Bangalore', 'r')

In [ ]:
city

'Bangalore'

In [ ]:
city[:]

'Bangalore'

In [ ]:
city[0:5], city[:5], city[2:6], city[2:]

('Banga', 'Banga', 'ngal', 'ngalore')

In [ ]:
city, city*2, city+city, city*10

('Bangalore',
 'BangaloreBangalore',
 'BangaloreBangalore',
 'BangaloreBangaloreBangaloreBangaloreBangaloreBangaloreBangaloreBangaloreBangaloreBangalore')

In [ ]:
emp = '100-Shiva Kumar-+918095470922-25000'

emp.find('100'), emp.find('200'), emp.find('Shiva'), emp.find('Kumar')

(0, -1, 4, 10)

In [ ]:
#to check emp with 200 exist or not
emp.find('200') #-1 with find() is not a index, it is absent of the element

-1

In [ ]:
emp_details = emp.split('-')

emp_details

['100', 'Shiva Kumar', '+918095470922', '25000']

In [ ]:
emp_details[1].lower(), emp_details[1].upper()

('shiva kumar', 'SHIVA KUMAR')

In [ ]:
emps = '100-Shiva Kumar-+918095470922-25000#200-Shiva Kumar-+9180954712ert-35000'
emps.count('100'), emps.count('Shiva Kumar')

(1, 2)

In [ ]:
emps1 = emps.split('#')

print(emps1)
emp_1 = emps1[0].split('-')
print(emp_1)
emp_2 = emps1[1].split('-')
print(emp_2)

['100-Shiva Kumar-+918095470922-25000', '200-Shiva Kumar-+918095471234-35000']
['100', 'Shiva Kumar', '+918095470922', '25000']
['200', 'Shiva Kumar', '+918095471234', '35000']

In [ ]:
#last five chars is salary
#extracting salary form emp
emp, emp[-5:]

('100-Shiva Kumar-+918095470922-25000#200-Shiva Kumar-+918095471234-35000',
 '35000')

In [ ]:
mp = emp.find('+') 

emp, emp[mp+1:mp+13], emp[emp.find('+')+1:emp.find('+')+13]

('100-Shiva Kumar-+918095470922-25000#200-Shiva Kumar-+918095471234-35000',
 '918095470922',
 '918095470922')

In [ ]:
emp = '100-Shiva Kumar-+9180954709ty-25000'
mp = emp.find('+') 
mobile = emp[mp+1:mp+13]

mobile, mobile.isdigit()

('9180954709ty', False)

In [ ]:
emp = '100-Shiva Kumar-+918095470923-25000'
mp = emp.find('+') 
mobile = emp[mp+1:mp+13]

mobile, mobile.isdigit()

('918095470923', True)

In [ ]:
emp = '100-Shiva Kumar-+919095470923-25000'
mp = emp.find('+') 
mobile = emp[mp+3:mp+13]

mobile, mobile.isdigit() #not valid mobile number in india

('9095470923', True)

In [ ]:
fd = mobile[0]

fd=='9' or fd=='8' or fd=='7'

True

In [ ]:
emp = '100-Shiva Kumar-+918095470922-25000'

eno = emp[:3]
ename = emp[4:15]
mobile = emp[17:29]
#salary = emp[30:]
salary = emp[-5:]
print(eno, ename, mobile, salary)

100 Shiva Kumar 918095470922 25000

In [ ]:
#to find emp with 200

emp = '100-Shiva Kumar-+918095470922-25000'

print(emp.find('200'), emp.find('100'))
print(emp.find('200') > -1, emp.find('100') > -1)

-1 0
False True

In [ ]:
#to find emp with 200

emp = '100-Shiva Kumar-+918095470922-25000'

emp.find('200'), emp.find('100') #it excludes from output
emp.find('200') > -1, emp.find('100') > -1

(False, True)

In [ ]:
#to find emp with name Rahul

emp = '100-Shiva Kumar-+918095470922-25000'

print(emp.find('Rahul'))
print(emp.find('Rahul') > -1)

-1
False

In [ ]:
#to find emp with name Kumar

emp = '100-Shiva Kumar-+918095470922-25000'

print(emp.find('Kumar'))
print(emp.find('Kumar') > -1)

10
True

In [ ]:
#to find emp with name kumar

emp = '100-Shiva Kumar-+918095470922-25000'

# print(emp.find('kumar'))
print(emp.find('kumar') > -1)

# print(emp.lower().find('kumar'))
print(emp.lower().find('kumar') > -1)

False
True

In [ ]:
#extractin name (4,23)

emp1 = '100-Shiva Kumar        -+918095470922-25000'
emp2 = '100-Shiva Kumar Nagalli-+918095470922-25000'

print(emp1[4:23])
print(emp2[4:23])

Shiva Kumar
Shiva Kumar Nagalli

In [ ]:
#extractin name (4,23)

emp1 = '100,Shiva Kumar,+918095470922,25000'
emp2 = '100,Shiva Kumar Nagalli,+918095470922,25000'

print(emp1.split(',')) #split() retuns list of values
print(emp1.split(',')[1]) #it returns one element
print(emp1.split(',')[1].split()[-1]) #it retuns one elemnt after spliting full name into parts


print(emp2.split(','))
print(emp2.split(',')[1])
print(emp2.split(',')[1].split())
print(emp2.split(',')[1].split()[-1])
print(emp2.split(',')[1].split()[1])
print(emp2.split(',')[1].split()[0])

['100', 'Shiva Kumar', '+918095470922', '25000']
Shiva Kumar
Kumar
['100', 'Shiva Kumar Nagalli', '+918095470922', '25000']
Shiva Kumar Nagalli
['Shiva', 'Kumar', 'Nagalli']
Nagalli
Kumar
Shiva

In [ ]:
#extractin name (4,23)

emp1 = '100,Shiva Kumar,+918095470922,25000'
emp2 = '100,Shiva Kumar Nagalli,+918095470922,25000'

emp1_info = emp1.split(',')
emp_name = emp1_info[1]
emp_last_name = emp_name.split()[-1]

print(f'Full Name {emp_name}')
print(f'Last Name {emp_last_name}')


# print(emp2.split(','))
# print(emp2.split(',')[1])
# print(emp2.split(',')[1].split()[-1])
# print(emp2.split(',')[1].split()[1])

Full Name Shiva Kumar
Last Name Kumar