<a href="https://colab.research.google.com/github/MariyaJosep/Python-And-SQL-Basics-to-Advanced/blob/main/Python_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Tuple

t1 = (10, 20, 30, 40)

print(t1)
print(type(t1))

(10, 20, 30, 40)
<class 'tuple'>

In [ ]:
#Tuple is a immutable

print(t1[0])

t1[0] = 100

10

TypeError: 'tuple' object does not support item assignment

In [ ]:
#var with day names, month names

days = ('Mon', 'Tue', 'Wed', "Thu", 'Fri', 'Sat', 'Sun')

print(days)

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [ ]:
print(days[1:5])

('Tue', 'Wed', 'Thu', 'Fri')

In [ ]:
day = input('Enter day of Birth : ')

#we use membership operator (in, not in)

if day in days:
    print('Welcome : ')
else:
    print('Please enter proper day name')

Enter day of Birth : Man
Please enter proper day name

In [ ]:
# iterating tuple using for and index

for i in range(len(days)):
    print(days[i])

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [ ]:
# iterating tuple using for and without index

for x in days:
    print(x)

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [ ]:
#Dictionary

s = {'sno':100, 'sname':'shiva', 'marks':450}

print(s)
print(type(s))

{'sno': 100, 'sname': 'shiva', 'marks': 450}
<class 'dict'>

In [ ]:
#To access elements from the dictionary we use keys

print(s['sno'])
print(s['sname'])
print(s['marks'])

100
shiva
450

In [ ]:
#adding new item to the dict

s['class'] = '8 std'

print(s)

{'sno': 100, 'sname': 'shiva', 'marks': 450, 'class': '8 std'}

In [ ]:
#removing item from the dict

del s['marks']
print(s)

{'sno': 100, 'sname': 'shiva', 'class': '8 std'}

In [ ]:
#Note: if we use var with del delets variable from memory

del s

In [ ]:
print(s)
print(len(s))
print(s.keys()) #returns all keys in form of a list
print(s.values()) #returns all values in form of a list

{'sno': 100, 'sname': 'shiva', 'class': '8 std'}
3
dict_keys(['sno', 'sname', 'class'])
dict_values([100, 'shiva', '8 std'])

In [ ]:
#differenc between following code

#s.clear() #it remove all elements, makes empty

#del s #it delete object from memory

In [ ]:
#products = {'pid':[100, 200], 'pname':['iPhone', 'iPad'], 'price':[35, 45]}
products = {'pid':[100, 200], 'pname':['iPhone', 'iPad'], 'price':[35, 45]}

print(products)
print(products['pid'])

{'pid': [100, 200], 'pname': ['iPhone', 'iPad'], 'price': [35, 45]}
[100, 200]

In [ ]:
#adding new product with 300, 'Mac Pro', 95

products['pid'].append(300)
products['pname'].append('Mac Pro')
products['price'].append(95)

print(products)

{'pid': [100, 200, 250, 300], 'pname': ['iPhone', 'iPad', 'Mac Book', 'Mac Pro'], 'price': [35, 45, 85, 95]}

In [ ]:
#adding new product with 250, 'Mac Book', 85 at second place

products['pid'].insert(2, 250)
products['pname'].insert(2,'Mac Book')
products['price'].insert(2, 85)

print(products)

{'pid': [100, 200, 250, 250, 300], 'pname': ['iPhone', 'iPad', 'Mac Book', 'Mac Book', 'Mac Pro'], 'price': [35, 45, 85, 85, 95]}

In [ ]:
print(products)

{'pid': [100, 200, 300], 'pname': ['iPhone', 'iPad', 'Mac Pro'], 'price': [35, 45, 95]}

In [ ]:
#deleting product with 250, 'Mac Book', 85 at second place

#check 250 is there in dictionary then element, hint: use membership operator
if 300 in products['pid']:
    products['pid'].remove(300)
    products['pname'].remove('Mac Pro')
    products['price'].remove(95)
    
    print('Product with 300 deleted')
else:
    print('Produnct with 300 not exists')

print(products)

Product with 300 deleted
{'pid': [100, 200], 'pname': ['iPhone', 'iPad'], 'price': [35, 45]}

In [ ]:
l1 = [10, 20, 10, 30]

l1.remove(10)

print(l1)

[20, 10, 30]

In [ ]:
#iterating dictionay

d1 = {'sno':1000, 'sname':'Rahul', 'class':'10+2', 'marks':456}
print(d1)

#using keys()

keys = d1.keys() #keys = ['sno', 'sname', 'class', 'marks']

for key in keys:
    print(key, "=", d1[key])

{'sno': 1000, 'sname': 'Rahul', 'class': '10+2', 'marks': 456}
sno = 1000
sname = Rahul
class = 10+2
marks = 456

In [ ]:
#help(d1)

In [ ]:
print(d1.items())

dict_items([('sno', 1000), ('sname', 'Rahul'), ('class', '10+2'), ('marks', 456)])

In [ ]:
for key, value in d1.items():
    print(key, "=", value)

sno = 1000
sname = Rahul
class = 10+2
marks = 456

In [ ]:
l1=[] #empty list
d1={} #empty dictionary

In [ ]:
#set

s1 = {10, 20, 30, 10, 40, 10, 10, 40}

print(s1)

{40, 10, 20, 30}

In [ ]:
#finding unique values from the list
l1 = [10, 20, 40, 10, 10, 40,40,100, 200, 200]

s2 = set(l1)
print(s2)

{100, 40, 200, 10, 20}

In [ ]:
print(s1, s2)

{40, 10, 20, 30} {100, 40, 200, 10, 20}

In [ ]:
print(s1.union(s2))

{100, 40, 200, 10, 20, 30}

In [ ]:
print(s1.intersection(s2))

{40, 10, 20}

In [ ]:
#iterating set using for

for x in s1:
    print(x)

40
10
20
30

In [ ]:
#defining a funtion to perform addition of two number

def add(a, b):
    #100 lines
    c = a + b
    print('sum ', c)

In [ ]:
#function calling

add(1,2)
add(10, 20)

sum  3
sum  30

In [ ]:
l1 = [10, 20, 30, 40, 50]
no = 200

def del_ele_from_list(l1, no):
    if no in l1:
        l1.remove(no)  
        print(no, 'deleted')
    else:
        print(no, 'not exists')

print(l1)

[10, 20, 30, 40, 50]

In [ ]:
del_ele_from_list(l1, 10)

one more
10 deleted

In [ ]:
l2 = ['rajesh', 'rahul', 'kumar']

del_ele_from_list(l2, 'kumar')

kumar deleted

In [ ]:
l3 = [20.40, 40.56, 60.76]

del_ele_from_list(l3, 60.76)

60.76 deleted

In [ ]:
print(l3)

[20.4, 40.56]

In [ ]:
find_ele_in_list()

In [ ]:
def find_ele_in_list():
    pass