<a href="https://colab.research.google.com/github/MariyaJosep/Python-And-SQL-Basics-to-Advanced/blob/main/Python_Dictionary_and_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1 = [1, 2]

print(l1[0])

1

In [ ]:
#2D data, where lists can have one or more list inside

l2 = [[1,2]]

print(l2[0])
print(l2[0][0])

[1, 2]
1

In [ ]:
d_difficult = {'k1':[{'nest_key':['this is deep',['StarAgile']]}]}


print(d_difficult['k1'])
print(d_difficult['k1'][0])
print(d_difficult['k1'][0]['nest_key'])
print(d_difficult['k1'][0]['nest_key'][1])
print(d_difficult['k1'][0]['nest_key'][1][0])

[{'nest_key': ['this is deep', ['StarAgile']]}]
{'nest_key': ['this is deep', ['StarAgile']]}
['this is deep', ['StarAgile']]
['StarAgile']
StarAgile

In [ ]:
#list manipulation add, delete
#tuple
#dictionary

d = {'k1':'val1', 'k3':'val3', 'k2':'val'}

#how to delete last item from dictionary d
del d['k2']
print(d)


#how to delete last item from dictionary with knowing keys k13
d1 = {'k1':'val1', 'k3':'val3', 'k2':'val', 'k11':'val11'}
all_keys = list(d1.keys())
last_key = all_keys[-1]
print(last_key)
del d1[last_key]
print(d1)

{'k1': 'val1', 'k3': 'val3'}
k11
{'k1': 'val1', 'k3': 'val3', 'k2': 'val'}

In [ ]:
#how to delete item with key entered by user

d1 = {'k1':'val1', 'k3':'val3', 'k2':'val', 'k11':'val11'}

while True:
    print('1. Delete Key')
    print('2. Add new item')
    print('3. Display Dict values')
    print('4. Exit')
    option = int(input('Enter option '))
           
   
    if option==1:
        k = input('Enter Key ')
        all_keys = list(d1.keys())

        if k in all_keys:
            del d1[k]
            print('Item delete')
        else:
            print('Enter correct key')
    elif option==2:
        print('Write script to take key and value from user and add to dictionay')
        #d[new_key]=new_val
    elif option==3:
        print(d1)
    elif option==4:
        break

1. Delete Key
2. Add new item
3. Display Dict values
4. Exit
Enter option 1

In [ ]:
def add(a,b,c): #a, b,c are parameters
    
    result = a+b+c
    print('Sum is ', result)

In [ ]:
add(10, 20, 30)
add(1,2,3)
add(-1,-3,-5)

Sum is  60
Sum is  6
Sum is  -9

In [ ]:
add(1,5,0)

Sum is  6

In [ ]:
x, y, z = 1, 2, 3
add(x, y, z) #x,y,z are called arguemnts

Sum is  6

In [ ]:
a, b, c = 1, 2, 3

print(a)
print(a, b)

l1 = [1, 2, 3]
result = sum(l1)

1
1 2

In [ ]:
def add(a,b,c): #function with required arg
    
    result = a+b+c
    print('Sum is ', result)
    
add(1)

TypeError: add() missing 2 required positional arguments: 'b' and 'c'

In [ ]:
def big(first, second):
    if first>second:
        print('1st value is big')
    else:
        print('2nd value is big')

In [ ]:
big(10, 20)
big(first=200, second=300) #function with keyword arguments
big(second=30, first=40)
big(first=int(input('Enter a')), second=10)

2nd value is big
2nd value is big
1st value is big
Enter a5
2nd value is big

In [ ]:
#fun for adding two number
#fun for adding three number
def add(a=0, b=0, c=0, d=0, e=0): #function with default arguments
    result = a+b+c+d+e
    print('Sum : ',result)
    
add()
add(1)
add(1,2)
add(1,2,3)
add(1,2,3,4)
add(1,2,3,4,5)
add(100) #a will be 100
add(e=100) #e will be 100
add(1,2,3,4,5,6) #error due to 6 arguents

Sum :  0
Sum :  1
Sum :  3
Sum :  6
Sum :  10
Sum :  15
Sum :  100
Sum :  100

TypeError: add() takes from 0 to 5 positional arguments but 6 were given

In [ ]:
#function with variable length arguments
#args=[1,2,3,4]
def add(*args):
    print('no of arguments passed', len(args))
    result=0
    for x in args:
        result = result + x
        
    print('sum : ', result)

In [ ]:
add(1)
add(2,3)
add(2,3,4,5,6,7,8,9)

no of arguments passed 1
sum :  1
no of arguments passed 2
sum :  5
no of arguments passed 8
sum :  44

In [ ]:
add(1,2,3,3,5,6,6,6,7,7,7,78,8,8,8,8,8,8)

no of arguments passed 18
sum :  179

In [ ]:
#function with variable length key word arguments

def print_details(**kwargs):
    for key in kwargs:
        print(key,'=', kwargs[key])
    print('\n')

In [ ]:
print_details(sno=100, sname='kumar', cls='8')
print_details(eno=1000, ename='Raj', salary=34505, dept='Sales Department')

sno = 100
sname = kumar
cls = 8


eno = 1000
ename = Raj
salary = 34505
dept = Sales Department

In [ ]:
print_details(sno=100, sname='kumar', cls='8', sub_marks=[10, 20, 30, 40])
print_details(sno=100, sname='kumar', cls='8', sub_marks={'Math':35, 'Sci':45})

sno = 100
sname = kumar
cls = 8
sub_marks = [10, 20, 30, 40]


sno = 100
sname = kumar
cls = 8
sub_marks = {'Math': 35, 'Sci': 45}

In [ ]:
def p_details(**kwargs):
    if 'sno' in kwargs:
        avg = kwargs['marks'] / 6
        kwargs['avg'] = avg
    
    if 'eno' in kwargs:
        bonus = kwargs['salary'] * 0.1
        kwargs['bonus'] = bonus
        
    print(kwargs)

In [ ]:
p_details(sno=100, marks=460)
p_details(eno=100, salary=10000)

{'sno': 100, 'marks': 460, 'avg': 76.66666666666667}
{'eno': 100, 'salary': 10000, 'bonus': 1000.0}

In [ ]:
def p_details(**kwargs):
    if 'sno' in kwargs:
        avg = kwargs['marks'] / 6
        kwargs['avg'] = avg
    
    if 'eno' in kwargs:
        bonus = kwargs['salary'] * 0.1
        kwargs['bonus'] = bonus
        
    return kwargs

In [ ]:
student1 = p_details(sno=100, marks=460)
employee1 = p_details(eno=100, salary=10000)

In [ ]:
student1

{'sno': 100, 'marks': 460, 'avg': 76.66666666666667}

In [ ]:
student1
student1

{'sno': 100, 'marks': 460, 'avg': 76.66666666666667}

In [ ]:
employee1

{'eno': 100, 'salary': 10000, 'bonus': 1000.0}

In [ ]:
#lambda function

add = lambda x,y,z:x+y+z

In [ ]:
print(add(1,2,3))

6

In [ ]:
sqr = lambda x:x*x

In [ ]:
print(sqr(10))
print(sqr(4))

100
16

In [ ]:
def add(a,b):
    c = a+b
    
    return c  #print(c)

In [ ]:
r1 = add(12, 3)

In [ ]:
r1

15

In [ ]:
r1

15

In [ ]:
m1 = max([10, 20,30, 40])

In [ ]:
m1

40

In [ ]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [ ]:
m2 = max(10, 20, 30, 40, 50, 60)

print(m2)

60

In [ ]:
m2

60