<a href="https://colab.research.google.com/github/MariyaJosep/Python-And-SQL-Basics-to-Advanced/blob/main/Python_Workouts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Print even number from 10(n) to 2 using while

In [ ]:
n = int(input('Enter n value : '))

i = n

while i>=2:    
    if i%2 == 0:         
        print(i)
        
    i = i - 1  # i -= 1

Enter n value : 10
10
8
6
4
2

In [ ]:
n = int(input('Enter n value : '))

i = n

while i>=2:
    print(i)
    i = i - 2  # i -= 1

Enter n value : 10
10
8
6
4
2

# 2. Print find larg number from n number 5 (20, 40, 60 , 70, 10) using while

Hint: n is total numbers, x to hold different number, large to hold largest number

## Test Case-1

Input (n=5, (20, 40, 60 , 70, 10))

Output (large number is 70)


## Test Case-2

Input (n=4, (120, 30, 60 , 10))

Output (large number is 120)

In [ ]:
n = int(input('Enter n values : '))

i = 1
large = 0

while i<=n:
    x = int(input('Enter x value : '))
    
    if large<x:
        large = x
        
    i += 1
  
    
print('Large number is : ', large)

Enter n values : 3
Enter x value : 100
Enter x value : 200
Enter x value : 50
Large number is :  200

# find minimum number from n numbers

## Test Case-1

Input (n=4, (120, 30, 60 , 10))

Output (minimum number is 10)

In [ ]:
n = int(input('Enter n values : '))

i = 1

while i<=n:
    x = int(input('Enter x value : '))
    
    if i==1:
        minimum=x
    
    if minimum>x:
        minimum = x
        
    i += 1
  
    
print('Minimum number is : ', minimum)

Enter n values : 4
Enter x value : 10
Enter x value : 5
Enter x value : 2
Enter x value : 30
Minimum number is :  2

# find average value from n numbers using while


## Test Case-1

Input (n=4, (10, 20, 30 , 40))

Output (average value is 25) 


Hint: Take 5 variable, i, n, x, sum1, avg

In [ ]:
n = int(input('Enter n value : '))

i, sum1 = 1, 0

while i<=n:
    x = int(input(f'Enter {i} number : '))
    
    sum1 += x  #sum1 = sum1 + x
    
    i += 1 # number of iterations
    
avg = sum1/n

print('Average value is : ', avg)

Enter n value : 4
Enter 1 number : 10
Enter 2 number : 30
Enter 3 number : 40
Enter 4 number : 50
Average value is :  32.5

In [ ]:
#printing 0 to 9 using for and range()

for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
for i in range(5, 11):
    print(i)

5
6
7
8
9
10

In [ ]:
#printing even number from 2 to 10(n) numbers

n = int(input('Enter n value : '))

for i in range(2, n+1, 2):  #stop=21
    print(i)

Enter n value : 20
2
4
6
8
10
12
14
16
18
20

In [ ]:
#printing even number from 10(n) to 2 numbers

n = int(input('Enter n value : '))

for i in range(n, 1, -2):
    print(i)

Enter n value : 10
10
8
6
4
2

In [ ]:
#printing even number from 10(n) to 2 numbers

n = int(input('Enter n value : '))

if n%2 != 0:
    n = n - 1

for i in range(n, 1, -2):
    print(i)

Enter n value : 11
12
10
8
6
4
2

In [ ]:
#printing multiples of n

n = int(input('Enter n value : '))

for i in range(n, n*11, n):  #range(2, 22, 2)
    print(i)

Enter n value : 2
2
4
6
8
10
12
14
16
18
20

In [ ]:
#printing multiples of n

n = int(input('Enter n value : '))

for i in range(n*10, 1, -n): 
    print(i)

Enter n value : 2
20
18
16
14
12
10
8
6
4
2

In [ ]:
#finding large number from n numbers using for

n = int(input('Enter n value : '))

maximum = 0
for i in range(n): 
    x = int(input('Enter x value '))
    
    if maximum<x:
        maximum = x
        
print('Maximum is ', maximum)

Enter n value : 3
Enter x value 100
Enter x value 200
Enter x value 10
Maximum is  200

# Lists

In [ ]:
nos = [100, 200, 10]

print(type(nos))
print(nos)

<class 'list'>
[100, 200, 10]

In [ ]:
no1 = [10, 20, 30, 40, 50, 5, 6, 21, 45]
print(no1)

[10, 20, 30, 40, 50, 5, 6, 21, 45]

# printing list values using for

In [ ]:
for item in no1:
    print(item)

10
20
30
40
50
5
6
21
45

In [ ]:
for item in nos:
    print(item)

100
200
10

In [ ]:
#finding largest number using list and for

no1 = [100, 10, 20, 30, 40, 50, 5, 6, 21, 45]

maximum = no1[0]

for x in no1:
    if x>maximum:
        maximum = x
        
print('Max is ', maximum)

Max is  100

In [ ]:
maximum = max(no1)

print('Max is ', maximum)

Max is  100

In [ ]:
#we want list where it contains 1 to 100

l1 = list(range(1, 101))

print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
#we want list where it contains 10 to 100, increment by 10

l2 = list(range(10, 101, 10))

print(l2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
l3 = range(1,101)

print(l3)

range(1, 101)

In [ ]:
#accessing elments from list

#1. using index, always starts from 0,

print(l1[0])
print(l1[10])
print(l1[99]) #i know list of numbers


#2. using -ve index
print(l1[-1])
print(l1[-2])

1
11
100
100
99

In [ ]:
#list can contain different kind of values

l3 = [100, 'shiva', 34.5]

print(l3)

[100, 'shiva', 34.5]

In [ ]:
print(type(l3[0]))
print(type(l3[1]))
print(type(l3[2]))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
#list slicing

#first 5 numbers
print(l1[0:5])
print(l1[:5])

#select 5 number from 4th position
print(l1[4:9])

#select 5 number where position is even
print(l1[:10])
print(l1[:10:2])

#select 5 number by skiping 2 number
print(l1[:15:3])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10, 13]

In [ ]:
l4 = [10, 5, 20, 60, 30, 70, 'string', 30.56, 'rahul', 50]

#to find size of list use len()
print('number of elements : ', len(l4))

#skip 1 number
print(l4[0:len(l4):2])

#skip 2 number
print(l4[0:len(l4):3])

number of elements :  10
[10, 20, 30, 'string', 'rahul']
[10, 60, 'string', 50]

In [ ]:
print(l1)
print(l1[0:len(l1):5])
print(l1[0:len(l1):50])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]
[1, 51]

# Find minimum, maximum, total, average from list

## Test Case -1
Input (l1=[20, 40, 50, 30, 60])

Output:

Minimum=20

Maximum=60

Total=200

Average=40

In [ ]:
l1 = [20, 40, 50, 30, 60, 50, 70, 30]

minimum=l1[0]
maximum=l1[0]
total = 0

for x in l1:
    if minimum>x:
        minimum=x
    
    if maximum<x:
        maximum=x
    total = total + x
    
average = total/len(l1)

print('Min : ', minimum)
print('Max : ', maximum)
print('Tot : ', total)
print('Avg : ', average)

Min :  20
Max :  70
Tot :  350
Avg :  43.75

In [ ]:
#using existing functions min, max, sum
l1 = [20, 40, 50, 30, 60, 50, 70, 30]

minimum=min(l1)
maximum=max(l1)
total = sum(l1)  
average = total/len(l1)

print('Min : ', minimum)
print('Max : ', maximum)
print('Tot : ', total)
print('Avg : ', average)

Min :  20
Max :  70
Tot :  350
Avg :  43.75