<a href="https://colab.research.google.com/github/MariyaJosep/Python-And-SQL-Basics-to-Advanced/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Welcome to Python')

Welcome to Python

In [ ]:
print('Python is every where')

Python is every where

In [ ]:
a, b = 10, 20

print(a+b)

30

In [ ]:
a = 10
b = 20

In [ ]:
a

10

In [ ]:
print("a")

a

In [ ]:
print(a)

10

In [ ]:
print(b)

20

In [ ]:
print(a,b)

10 20

In [ ]:
name1 = 'shiva'
name2 = "kumar"

In [ ]:
print(name1)

shiva

In [ ]:
name1 = 'shiva's'

SyntaxError: invalid syntax (1219835472.py, line 1)

In [ ]:
print('a')

a

In [ ]:
name = 'Rahul'
age = 45
salary = 34567.67

# print('Name = ',name, ',')
print(name, ',')
print("Age = ", age, ',')
print('Salary = ', salary, ':')

Rahul ,
Age =  45 ,
Salary =  34567.67 :

In [ ]:
print('Type of Name : ', type(name))
print('Type of Age : ', type(age))
print('Type of Salary : ', type(salary))

Type of Name :  <class 'str'>
Type of Age :  <class 'int'>
Type of Salary :  <class 'float'>

In [ ]:
age = '67'

print(type(age))

<class 'str'>

In [ ]:
print('Name : ', name, ', Age : ', age, ', Salary : ', salary)

Name :  Rahul , Age :  67 , Salary :  34567.67

In [ ]:
a, b = 3, 2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b) 
print(a//b)

5
1
6
1.5
9
1

In [ ]:
# 3+2=5
c = a+b
print(a,b,c)
print(a,'+',b,'=',c)

3 2 5
3 + 2 = 5

In [ ]:
print('{} + {} = {}'.format(a,b,c))
print('{0} + {1} = {2}'.format(a,b,c))

3 + 2 = 5
3 + 2 = 5

In [ ]:
print('{} + {} = {}'.format(c,b,a))
print('{2} + {1} = {0}'.format(c,b,a))

5 + 2 = 3
3 + 2 = 5

In [ ]:
print(f'{a} + {b} = {c}')

3 + 2 = 5

In [ ]:
print('{a} + {b} = {c}')

{a} + {b} = {c}

In [ ]:
x, y = 1, 2
s1 = '{} {}'

print(s1.format(x,y))

1 2

In [ ]:
print('[]')

[]

In [ ]:
# taking input from user

a = input('Enter a value : ')
b = input('Enter b value : ')
c = a + b
print(a, type(a))
print(c)

Enter a value : 10
Enter b value : 20
10 <class 'str'>
1020

In [ ]:
#Task, perfrom addition of three numbers, by taking input from user

a = input('Enter a value : ')
b = input('Enter b value : ')
c = input('Enter c value : ')

#Cast to integer or float
a, b, c = int(a), int(b), int(c)

add = a+b+c

print(f'{a}+{b}+{c}={add}')

Enter a value : 20
Enter b value : 30
Enter c value : 1
20+30+1=51

In [ ]:
input()

78

'78'

In [ ]:
a = input('Enter a value : ')
b = input('Enter b value : ')
c = input('Enter c value : ')

#Cast to integer or float
a, b, c = int(a), int(b), int(c)

print(f'{a}+{b}+{c}={a+b+c}')

Enter a value : 1
Enter b value : 2
Enter c value : 3
1+2+3=6